{{ define "main" }}

<div class="hero">
  <div>
    <img srcset="{{ .Site.BaseURL}}{{ .Params.image | replaceRE "\\.(.*)$" "-small.$1" }} 320w,
                 {{ .Site.BaseURL}}{{ .Params.image | replaceRE "\\.(.*)$" "-medium.$1" }} 750w,
                 {{ .Site.BaseURL}}{{ .Params.image | replaceRE "\\.(.*)$" "-large.$1" }} 2500w"
      sizes="(max-width: 400px) 320px, (max-width: 800px) 750px, 2500px"
      src="{{ .Site.BaseURL}}{{ .Params.image | replaceRE "\\.(.*)$" "-small.$1" }}"
      alt={{ .Params.alt }} />
  </div>
</div>

<article>
  <div class="photo-desc">
    <h1>{{ .Title }}</h1>
    <h2>{{ .Params.location }} &mdash; {{ .Date.Format "January 2006" }}</h2>
    {{ .Content }}
  </div>
  {{ partial "exif-info.html" . }}
</article>

{{ end }}
